<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base href="">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="shortcut icon" href="assets/media/favicon.ico">
	<link rel="stylesheet" href="assets/css/style.css">
	<link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
	<link rel="stylesheet" href="assets/css/select2.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
	<title>Donasi Online Dompet Dhuafa - Portal Donasi Dompet Dhuafa</title>
	<style>
		#footer {
			position: fixed;
			width: 100%;
			bottom: 0;
			left: 0;
		}
	</style>
</head>
<body>
	<section id="kontak">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<a id="noTelpon" href="tel:+62217821292">
								<i class="fa fa-phone-alt"></i> +62 21 7821292 
							</a>
						</div>
						<div class="col-sm-6 text-right social_link">
							<button id="btnFacebook" class="btn btn-outline-link">
								<img  src="assets/media/facebook-logo.svg" class="" alt="facebook" />
							</button>
							<button id="btnTwitter" class="btn btn-outline-link">
								<img  src="assets/media/twitter-logo.svg" class="" alt="twitter" />
							</button>
							<button id="btnInstagram" class="btn btn-outline-link">
								<img  src="assets/media/instagram-logo.svg" class="" alt="instagram" />
							</button>
							<button id="btnYoutube" class="btn btn-outline-link">
								<img  src="assets/media/youtube-logo.svg" class="" alt="youtube" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="pencarian" style="display: none">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="form-inline d-flex justify-content-center md-form form-sm mt-2 mb-2">
						<i class="fas fa-search icon-cari" aria-hidden="true"></i>
						<input id="inpPencarian" class="form-control form-control-md ml-3 search-width" type="text" placeholder="ketik dan cari" aria-label="Search">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="header">
		<div class="container">
			<div class="row">
				<div class="col d-xl-none">
					<button id="btnKonfirmasi" class="btn btn-link dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-bars"></i>
					</button>

					<div class="dropdown-menu">
						<a class="dropdown-item" href="./konfirmasi.html">Konfirmasi</a>
					</div>
				</div>
				<div class="col align-img">
					<a href="./index.html"><img src="assets/media/logo_dd.png" class="logo-header" alt="dompetDhuafa" /></a>
				</div>
				<div class="col text-right btn-search-wrap">
					<a href="./konfirmasi.html" class="btn btn-link btn-search btn-konfirmasi">
						Konfirmasi
					</a>
					<button id="btn-search" class="btn btn-link btn-search" onclick="pencarian()">
						<span class="fa fa-search"></span>
					</button>
				</div>
			</div>
		</div>
	</section>

	<main class="">
		<div class="container">
			<form>
				<div class="row mt-3 justify-content-center">
					<div class="col-12 ">
						<h4 class="text-center">Konfirmasi Donasi</h4><hr>
					</div>
					<div id="pilihanDonasi" class="col-lg-6 mt-3">
						<div class="wrap-form">
							<div class="row justify-content-center">
								<div class="col-sm-12">
									<div class="form-group">
										<label>Masukkan No. Refrensi</label>
										<input type="text" class="form-control" placeholder="input nomor refrensi" id="noRefrensi" name="noRefrensi">
									</div>
									<div class="row justify-content-center">
										<div class="col-sm-4">
											<a href="./konfirmasi_donasi.html" class="btn btn-success btn-block">
												Submit
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>

	<section id=footer class="">
		<div class="card">
			<div class="card-body text-center">
				Copyright © 2020 Portal Donasi Dompet Dhuafa
			</div>
		</div>
	</section>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="assets/js/jquery-3.2.1.slim.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/select2.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

	<script>
		function pencarian(){
			var cari = document.getElementById("pencarian");
			if (cari.style.display === "none"){
				cari.style.display = "block";
			}
			else{
				cari.style.display = "none";
			}
		}
	</script>
	<script>
		var input = document.getElementById("inpPencarian");

		input.addEventListener("keyup", function(e){
			if (e.keyCode === 13) {
				e.preventDefault();
				window.location = "./pencarian.html";
			}
		})
	</script>
	<script>
		$(document).ready(function(){
			$('.select2').select2({
				// dropdownParent: $('section')
			});
		})
	</script>
	<script>
		$(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
      	format: 'dd MM yyyy',
      	container: container,
      	todayHighlight: true,
      	autoclose: true,
      };
      date_input.datepicker(options);
  })
</script>

</body>
</html>