<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base href="">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="shortcut icon" href="assets/media/favicon.ico">
	<link rel="stylesheet" href="assets/css/style.css">
	<link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
	<title>Donasi Online Dompet Dhuafa - Portal Donasi Dompet Dhuafa</title>
</head>
<body>
	<section id="kontak">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<a id="noTelpon" href="tel:+62217821292">
								<i class="fa fa-phone-alt"></i> +62 21 7821292 
							</a>
						</div>
						<div class="col-sm-6 text-right social_link">
							<button id="btnFacebook" class="btn btn-outline-link">
								<img  src="assets/media/facebook-logo.svg" class="" alt="facebook" />
							</button>
							<button id="btnTwitter" class="btn btn-outline-link">
								<img  src="assets/media/twitter-logo.svg" class="" alt="twitter" />
							</button>
							<button id="btnInstagram" class="btn btn-outline-link">
								<img  src="assets/media/instagram-logo.svg" class="" alt="instagram" />
							</button>
							<button id="btnYoutube" class="btn btn-outline-link">
								<img  src="assets/media/youtube-logo.svg" class="" alt="youtube" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="pencarian" style="display: none">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="form-inline d-flex justify-content-center md-form form-sm mt-2 mb-2">
						<i class="fas fa-search icon-cari" aria-hidden="true"></i>
						<input id="inpPencarian" class="form-control form-control-md ml-3 search-width" type="text" placeholder="ketik dan cari" aria-label="Search">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="header">
		<div class="container">
			<div class="row">
				<div class="col d-xl-none">
					<button id="btnKonfirmasi" class="btn btn-link dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-bars"></i>
					</button>

					<div class="dropdown-menu">
						<a class="dropdown-item" href="./konfirmasi">Konfirmasi</a>
					</div>
				</div>
				<div class="col align-img">
					<a href="./index.html"><img src="assets/media/logo_dd.png" class="logo-header" alt="dompetDhuafa" /></a>
				</div>
				<div class="col text-right btn-search-wrap">
					<a href="./konfirmasi.html" class="btn btn-link btn-search btn-konfirmasi">
						Konfirmasi
					</a>
					<button id="btn-search" class="btn btn-link btn-search" onclick="pencarian()">
						<span class="fa fa-search"></span>
					</button>
				</div>
			</div>
		</div>
	</section>

	<main class="mb-4">
		<div id="pembayaran-page" class="container">
			<div class="row mt-3">
				<div class="col-12 ">
					<h4 class="text-center">Terimakasih atas Donasi Anda Melalui Bank <span id="namaBank" name="namaBank">BNI</span></h4><hr>
					<p>
						Assalamu'alaikum Warrahmatullahi Wabarakaatuh <span id="namaLengkap" name="namaLenkgap">Ahmad Rifaldi<span> yang berbahagia, Terima kasih telah melakukan donasi melalui portal donasi online Dompet Dhuafa.</p>
							<p>Berikut adalah resume donasi <span id="namaLengkap" name="namaLenkgap">Ahmad Rifaldi<span>:</p>
								<ul>
									<li>No. Referensi : 1664186456517591</li>
									<li>Tanggal Transaksi : 2020-04-17 09:51:21</li>
									<li>Jenis Donasi : Zakat</li>
									<li>Jumlah Donasi : <span id="jumlah-donasi" name="jumlah-donasi">10933</span><button onclick="copyToClipboard('#jumlah-donasi')" class="btn btn-sm btn-warning btn-copy">Copy</button></li>
								</ul>
								<p>Silahkan melanjutkan pembayaran donasi ke salah satu rekening berikut :</p>
								<section id="pengirimanBank" class="mb-3">
									<h5 id="transferBank" name="transferBank">BNI Syariah</h5>
									<p>
										<small><strong>No. Rekening</strong></small><br>
										<span id="no-rekening" name="no-rekening">0253.710.921</span>
										<button onclick="copyToClipboard('#no-rekening')" class="btn btn-sm btn-warning btn-copy">Copy</button>
									</p>
									<p>
										<small><strong>Atas Nama</strong></small><br>
										Yayasan Dompet Dhuafa Republika
									</p>
								</section>
								<p><strong>Keterangan :</strong></p>
								<ul>
									<li>No rekening di atas berlaku sebagai rekening penampungan untuk semua transaksi zakat, infak, sedekah, wakaf dan kurban<!--<li--></li>
									<li>Di mohon untuk melakukan konfirmasi donasi maksimal 1 x 24 Jam setelah melakukan donasi</li>
								</ul>
								<p>
									Dan silahkan melakukan konfirmasi pembayaran donasi disini <a href="./konfirmasi_donasi.html" target="_blank">Konfirmasi Donasi</a>&nbsp;Untuk informasi lebih lanjut, <span id="namaLengkap" name="namaLenkgap">Ahmad Rifaldi<span>&nbsp;dapat menghubungi :
									</p>
									<p>
										Call Center 021-7416050<br>SMS 0812 1292 528<br>Email <a href="mailto:layandonatur@dompetdhuafa.org">layandonatur@dompetdhuafa.org</a><br><a href="www.DompetDhuafa.org">www.DompetDhuafa.org</a>
									</p>
									<p>
										Semoga Allah memberikan pahala atas donasi yang diberikan, memberikan keberkahan atas harta yang tersisa, dan menjadikannya suci dan mensucikan.
									</p>
									<div class="row">
										<div class="col-md mb-2">
											<button class="btn btn-block btn-primary">
												Download Invoice (PDF)
											</button>
										</div>
										<div class="col-md">
											<a href="./konfirmasi_donasi.html" class="btn btn-block btn-success">
												Konfirmasi Pembayaran
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</main>

					<section id=footer class="">
						<div class="card">
							<div class="card-body text-center">
								Copyright © 2020 Portal Donasi Dompet Dhuafa
							</div>
						</div>
					</section>
					<!-- Optional JavaScript -->
					<!-- jQuery first, then Popper.js, then Bootstrap JS -->
					<script src="assets/js/jquery-3.2.1.slim.min.js"></script>
					<script src="assets/js/popper.min.js"></script>
					<script src="assets/js/bootstrap.min.js"></script>
					<script>
						function pencarian(){
							var cari = document.getElementById("pencarian");
							if (cari.style.display === "none"){
								cari.style.display = "block";
							}
							else{
								cari.style.display = "none";
							}
						}
					</script>
					<script>
						var input = document.getElementById("inpPencarian");

						input.addEventListener("keyup", function(e){
							if (e.keyCode === 13) {
								e.preventDefault();
								window.location = "./pencarian.html";
							}
						})
					</script>
					<script>
						function copyToClipboard(element) {
							var $temp = $("<input>");
							$("body").append($temp);
							$temp.val($(element).text()).select();
							document.execCommand("copy");
							$temp.remove();
							alert('berhasil dicopy!')
						}
					</script>
				</body>
				</html>