<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base href="">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="shortcut icon" href="assets/media/favicon.ico">
	<link rel="stylesheet" href="assets/css/style.css">
	<link rel="stylesheet" href="assets/css/select2.min.css">
	<link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
	<title>Donasi Online Dompet Dhuafa - Portal Donasi Dompet Dhuafa</title>
</head>
<body>
	<section id="kontak">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<a id="noTelpon" href="tel:+62217821292">
								<i class="fa fa-phone-alt"></i> +62 21 7821292 
							</a>
						</div>
						<div class="col-sm-6 text-right social_link">
							<button id="btnFacebook" class="btn btn-outline-link">
								<img  src="assets/media/facebook-logo.svg" class="" alt="facebook" />
							</button>
							<button id="btnTwitter" class="btn btn-outline-link">
								<img  src="assets/media/twitter-logo.svg" class="" alt="twitter" />
							</button>
							<button id="btnInstagram" class="btn btn-outline-link">
								<img  src="assets/media/instagram-logo.svg" class="" alt="instagram" />
							</button>
							<button id="btnYoutube" class="btn btn-outline-link">
								<img  src="assets/media/youtube-logo.svg" class="" alt="youtube" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="pencarian" style="display: none">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<form class="form-inline d-flex justify-content-center md-form form-sm mt-2 mb-2">
						<i class="fas fa-search icon-cari" aria-hidden="true"></i>
						<input class="form-control form-control-md ml-3 search-width" type="text" placeholder="ketik dan cari"
						aria-label="Search">
					</form>
				</div>
			</div>
		</div>
	</section>

	<section id="header">
		<div class="container">
			<div class="row">
				<div class="col d-xl-none">
					<button id="btnKonfirmasi" class="btn btn-link dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-bars"></i>
					</button>

					<div class="dropdown-menu">
						<a class="dropdown-item" href="./konfirmasi.html">Konfirmasi</a>
					</div>
				</div>
				<div class="col align-img">
					<a href="./index.html"><img src="assets/media/logo_dd.png" class="logo-header" alt="dompetDhuafa" /></a>
				</div>
				<div class="col text-right btn-search-wrap">
					<a href=".kofirmasi.html" class="btn btn-link btn-search btn-konfirmasi">
						Konfirmasi
					</a>
					<button id="btn-search" class="btn btn-link btn-search" onclick="pencarian()">
						<span class="fa fa-search"></span>
					</button>
				</div>
			</div>
		</div>
	</section>

	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="form-inline d-flex justify-content-center md-form form-sm mt-2 mb-2">
					<input id="inpPencarian" class="form-control form-control-md search-width-pencarian" type="text" value="Dhuafa" aria-label="Search">
				</div>
				<p class="info-pencarian">Pencarian dengan kata kunci : "<span id="keyPencarian" name="keyPencarian">Dhuafa</span>"</p>
			</div>
		</div>
	</div>

	<main>
		<div class="container">
			<section class="list-pencarian mt-5">
				<div class="header-list">
					<h4 class="judul-artikel">Sedekah Yatim</h4>
					<p class="tanggal-artikel">January 9, 2020</p>
				</div>
				<div class="main-list">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien velit, aliquet eget commodo nec, auctor a sapien. Nam eu neque vulputate diam rhoncus faucibus. Curabitur quis varius libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat sem at mauris suscipit porta. Cras metus velit, elementum sed pellentesque a, pharetra eu eros. Etiam facilisis placerat euismod. Nam faucibus neque arcu, quis accumsan leo tincidunt varius. In vel diam enim. Sed id ultrices ligula. Maecenas at urna arcu. Sed.l</p>
				</div>
			</section>
			<section class="list-pencarian mt-5">
				<div class="header-list">
					<h4 class="judul-artikel">Sedekah Yatim</h4>
					<p class="tanggal-artikel">January 9, 2020</p>
				</div>
				<div class="main-list">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien velit, aliquet eget commodo nec, auctor a sapien. Nam eu neque vulputate diam rhoncus faucibus. Curabitur quis varius libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat sem at mauris suscipit porta. Cras metus velit, elementum sed pellentesque a, pharetra eu eros. Etiam facilisis placerat euismod. Nam faucibus neque arcu, quis accumsan leo tincidunt varius. In vel diam enim. Sed id ultrices ligula. Maecenas at urna arcu. Sed.l</p>
				</div>
			</section>
			<section class="list-pencarian mt-5">
				<div class="header-list">
					<h4 class="judul-artikel">Sedekah Yatim</h4>
					<p class="tanggal-artikel">January 9, 2020</p>
				</div>
				<div class="main-list">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque sapien velit, aliquet eget commodo nec, auctor a sapien. Nam eu neque vulputate diam rhoncus faucibus. Curabitur quis varius libero. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam placerat sem at mauris suscipit porta. Cras metus velit, elementum sed pellentesque a, pharetra eu eros. Etiam facilisis placerat euismod. Nam faucibus neque arcu, quis accumsan leo tincidunt varius. In vel diam enim. Sed id ultrices ligula. Maecenas at urna arcu. Sed.l</p>
				</div>
			</section>
		</div>
	</main>

	<section id=footer class="mt-5">
		<div class="card">
			<div class="card-body text-center">
				Copyright © 2020 Portal Donasi Dompet Dhuafa
			</div>
		</div>
	</section>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="assets/js/jquery-3.2.1.slim.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script src="assets/js/jquery.mask.min.js"></script>
	<script src="assets/js/select2.min.js"></script>
	<!-- <script>
		$("#pengkhususanDonasi").change(function(){
			if($(this).val()=="zakat")
			{    
				$("#zakat").show();
				$("#infak").hide();
			}
			else if($(this).val()=="infak"){
				$("#zakat").hide();
				$("#infak").show();
			}
		});

		$("#khususZakat").change(function(){
			if($(this).val()=="Zakat Maal")
			{    
				$("#ketDefault").hide();
				$("#ketZakatMaal").show();
			}
			else {
				$("#ketDefault").show();
				$("#ketZakatMaal").hide();
			}
		});

	</script> -->
	<script>
		$(document).ready(function(){
			let selected = "zakat";
			$('#pengkhususanDonasi option').each(function(item){
				// console.log(selected);
				let element = $(this);
				// console.log(element.data("tag"));
				if (element.data("tag") != selected){
					element.hide();
				}
				else {
					element.show();
				}
			});

			$("#pengkhususanDonasi").val($("#pengkhususanDonasi option:visible:first").val());
		})

		$('#jenisDonasi').on('change',function(){
			let selected = $(this).val();
			$('#pengkhususanDonasi option').each(function(item){
				// console.log(selected);
				let element = $(this);
				// console.log(element.data("tag"));
				if (element.data("tag") != selected){
					element.hide();
				}
				else {
					element.show();
				}
			});

			$("#pengkhususanDonasi").val($("#pengkhususanDonasi option:visible:first").val());


		})


		$(document).ready(function(){
			let selected = "default";
			$('#keteranganDonasi option').each(function(item){
				// console.log(selected);
				let element = $(this);
				// console.log(element.data("tag"));
				if (element.data("tag") != selected){
					element.hide();
				}
				else {
					element.show();
				}
			});

			$("#keteranganDonasi").val($("#keteranganDonasi option:visible:first").val());
		})

		$('#pengkhususanDonasi').on('change',function(){
			let selected = $(this).val();
			$('#keteranganDonasi option').each(function(item){
				let element = $(this);
				if (element.data("tag") != selected){
					element.hide();
				}
				else {
					element.show();
				}
			})
		})

		$("#keteranganDonasi").val($("#keteranganDonasi option:visible:first").val());

	</script>
	<script>
		$(document).ready(function(){
			$('.select2').select2();
			$( '.uang' ).mask('000.000.000', {reverse: true});
		})

		function pencarian(){
			var cari = document.getElementById("pencarian");
			if (cari.style.display === "none"){
				cari.style.display = "block";
			}
			else{
				cari.style.display = "none";
			}
		}

		function infoTambahan(){
			var info = document.getElementById("infoTambahan");
			if (info.style.display === "none"){
				info.style.display = "block";
				$('.info-tambahan').text('[-] Sembunyikan Informasi tambahan')
			}
			else{
				info.style.display = "none";
				
				$('.info-tambahan').text('[+] Tampilkan Informasi tambahan')
			}
		}
	</script>
	<script>
		$(document).ready(function () {
			var maxLength = 150;
			$(".main-list").each(function () {
				var myStr = $(this).text();
				if ($.trim(myStr).length > maxLength) {
					var newStr = myStr.substring(0, maxLength);
					var removedStr = myStr.substring(maxLength, $.trim(myStr).length);
					$(this).empty().html(newStr);
					$(this).append(' <a href="#" class="read-more">Baca Selengkapnya..</a>');

				}
			});
		});
	</script>
</body>
</html>