<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<base href="">
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="assets/css/bootstrap.min.css">
	<link rel="shortcut icon" href="assets/media/favicon.ico">
	<link rel="stylesheet" href="assets/css/style.css">
	<link href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" rel="stylesheet">
	<title>Donasi Online Dompet Dhuafa - Portal Donasi Dompet Dhuafa</title>
</head>
<body>
	<section id="kontak">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<div class="row">
						<div class="col-sm-6">
							<a id="noTelpon" href="tel:+62217821292">
								<i class="fa fa-phone-alt"></i> +62 21 7821292 
							</a>
						</div>
						<div class="col-sm-6 text-right social_link">
							<button id="btnFacebook" class="btn btn-outline-link">
								<img  src="assets/media/facebook-logo.svg" class="" alt="facebook" />
							</button>
							<button id="btnTwitter" class="btn btn-outline-link">
								<img  src="assets/media/twitter-logo.svg" class="" alt="twitter" />
							</button>
							<button id="btnInstagram" class="btn btn-outline-link">
								<img  src="assets/media/instagram-logo.svg" class="" alt="instagram" />
							</button>
							<button id="btnYoutube" class="btn btn-outline-link">
								<img  src="assets/media/youtube-logo.svg" class="" alt="youtube" />
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="pencarian" style="display: none">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="form-inline d-flex justify-content-center md-form form-sm mt-2 mb-2">
						<i class="fas fa-search icon-cari" aria-hidden="true"></i>
						<input id="inpPencarian" class="form-control form-control-md ml-3 search-width" type="text" placeholder="ketik dan cari" aria-label="Search">
					</div>
				</div>
			</div>
		</div>
	</section>

	<section id="header">
		<div class="container">
			<div class="row">
				<div class="col d-xl-none">
					<button id="btnKonfirmasi" class="btn btn-link dropdown-toggle mr-4" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						<i class="fa fa-bars"></i>
					</button>

					<div class="dropdown-menu">
						<a class="dropdown-item" href="./konfirmasi">Konfirmasi</a>
					</div>
				</div>
				<div class="col align-img">
					<a href="./index.html"><img src="assets/media/logo_dd.png" class="logo-header" alt="dompetDhuafa" /></a>
				</div>
				<div class="col text-right btn-search-wrap">
					<a href="./konfirmasi.html" class="btn btn-link btn-search btn-konfirmasi">
						Konfirmasi
					</a>
					<button id="btn-search" class="btn btn-link btn-search" onclick="pencarian()">
						<span class="fa fa-search"></span>
					</button>
				</div>
			</div>
		</div>
	</section>

	<main>
		<div class="container">
			<form>
				<div class="row mt-3">
					<div class="col-12 ">
						<h4 class="text-center">Ringkasan Donasi</h4><hr>
					</div>
					<div class="col-lg-6">
						<div class="row">
							<div id="pilihanDonasi" class="col-lg-12 mt-3">
								<div class="wrap-form">
									<h5 class="sub-judul mb-4">Pilihan Donasi</h5>
									<div class="form-group">
										<label>Jenis Donasi</label>
										<input type="text" class="form-control" value="Zakat" id="jenisDonasi" name="jenisDonasi" disabled="">
									</div>
									<div class="form-group">
										<label>Pengkhususan Donasi</label>
										<input type="text" class="form-control" value="Zakat Maal" id="pengkhususanDonasi" name="pengkhususanDonasi" disabled="">
									</div>
									<div class="form-group">
										<label>Keterangan Donasi</label>
										<input type="text" class="form-control" value="Penghasilan" id="keteranganDonasi" name="keteranganDonasi" disabled="">
									</div>
									<div class="form-group">
										<label>Jumlah</label>
										<div class="input-group">
											<div class="input-group-prepend"><span class="input-group-text">Rp</span></div>
											<input type="text" class="form-control" value="10000" id="jumlahDonasi" name="jumlahDonasi"  disabled="">
										</div>
									</div>
									<div class="form-group">
										<label>Kode Unik</label>
										<input type="text" class="form-control" value="619" id="kodeUnik" name="kodeUnik" disabled="">
									</div>
									<div class="form-group">
										<label>Total</label>
										<div class="input-group">
											<div class="input-group-prepend"><span class="input-group-text">Rp</span></div>
											<input type="text" class="form-control" value="10619" id="totalDonasi" name="totalDonasi"  disabled="">
										</div>
									</div>
								</div>
							</div>
							<div id="profilDonatur" class="col-lg-12 mt-3">
								<div class="wrap-form">
									<h5 class="sub-judul mb-4">Profil Donatur</h5>
									<div class="form-group">
										<label>Nama Lengkap</label>
										<input type="text" class="form-control" value="Ahmad Rifaldi" id="namaLengkap" name="namaLengkap" disabled="">
									</div>
									<div class="form-group">
										<label>Email</label>
										<input type="email" class="form-control" value="aldirifaldi@testing.com"  id="email" name="email" disabled="">
									</div>
									<div class="form-group">
										<label>Telpon / Hp</label>
										<input type="tel" class="form-control" value="082292816274" name="noTelp" disabled="">
									</div>
									<div class="form-group">
										<label>Alamat</label>
										<textarea class="form-control" id="alamat" name="alamat" rows="3" disabled="">-</textarea>
									</div>
									<div class="form-group">
										<label>Tipe Donatur</label>
										<input type="text" class="form-control" value="Personal" id="tipeDonatur" name="tipeDonatur" disabled="">
									</div>
									<div class="form-group">
										<label>Nama Institusi</label>
										<input type="text" class="form-control" value="-" id="namaInstitusi" name="namaInstitusi" disabled="">
									</div>
									<div class="form-group">
										<label>NPWP</label>
										<input type="text" class="form-control" value="-" id="npwp" name="npwp" disabled="">
									</div>
									<div class="form-group">
										<label>Kota</label>
										<input type="text" class="form-control" value="-" id="namaKota" name="namaKota" disabled="">
									</div>
									<div class="form-group">
										<label>Kodepos</label>
										<input type="text" class="form-control" value="-" id="kodePos" name="kodePos" disabled="">
									</div>
									<div class="form-group">
										<label>Provinsi</label>
										<input type="text" class="form-control" value="-" id="provinsi" name="provinsi" disabled="">
									</div>
									<div class="form-group">
										<label>Negara</label>
										<input type="text" class="form-control" value="-" id="negara" name="negara" disabled="">
									</div>
								</div>
							</div>
						</div>
					</div>

					<div id="metodePembayaran" class="col-lg-6 mt-3">
						<div class="card">
							<h6 class="card-header card-header-ringkasan">Kode Konfirmasi Anda : <span id="kodeKonfirmasi" name="kodeKonfirmasi">1664186456517591</span></h6>
							<div class="card-body body-ringkasan">
								<p>Metode pembayaran menggunakan</p>
								<img id="metodePembayaran" name="metodePembayaran" class="metode-pembayaran-ringkasan" src="assets/media/logo-bni.png" alt="">
								<p>Silahkan klik tombol bayar untuk melanjutkan ke portal pembayaran</p>
								<a href="./pembayaran.html" class="btn btn-lg btn-success">
									Bayar Sekarang !
								</a>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</main>

	<section id=footer class="">
		<div class="card">
			<div class="card-body text-center">
				Copyright © 2020 Portal Donasi Dompet Dhuafa
			</div>
		</div>
	</section>
	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="assets/js/jquery-3.2.1.slim.min.js"></script>
	<script src="assets/js/popper.min.js"></script>
	<script src="assets/js/bootstrap.min.js"></script>
	<script>
		function pencarian(){
			var cari = document.getElementById("pencarian");
			if (cari.style.display === "none"){
				cari.style.display = "block";
			}
			else{
				cari.style.display = "none";
			}
		}
	</script>
	<script>
		var input = document.getElementById("inpPencarian");

		input.addEventListener("keyup", function(e){
			if (e.keyCode === 13) {
				e.preventDefault();
				window.location = "./pencarian.html";
			}
		})
	</script>
</body>
</html>